/* ====================================================================================================
   DATE:      06 APR 2018
   AUTHORS:   Kelly McKeown   David Hopkins
   UCInetIDs: KPMCKEOW        HOPKINSD
   ID#'s:     42806243        70404050
   CLASS:     CS 122B
   PROJECT:   #2
   ----------------------------------------------------------------------------------------------------
   DESCRIPTION:
   ====================================================================================================
 */

#contentDiv {
    height: 980px;
    top: 20px;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
}

#contentTitleText {
    height: 24px;
    width: 980px;
    left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    position: relative;
    color: #ff0010;
    font-family: "Julius Sans One", sans-serif;
    font-weight: bold;
    font-size: 22px;
}